<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% set titleBlock = block('title') %}
    <title>was zu lesen{% if titleBlock is not empty %} - {{ titleBlock|raw }}{% endif %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/Ionicons/css/ionicons.min.css') }}">
        {% stylesheets '@DembeloMain/Resources/public/css/dembelo.scss'filter='sass' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
</head>
<body id="{% block bodyid %}{% endblock %}">
{% include "@DembeloMain/partials/toolbar.html.twig" %}
{% include "@DembeloMain/partials/navigation.html.twig" %}
<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
{% block javascripts %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% javascripts
    '@DembeloMain/Resources/public/js/navigation.js'
    '@DembeloMain/Resources/public/js/toolbar.js'
    '@DembeloMain/Resources/public/js/dembelo.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "{{ piwik_host }}";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', {{ piwik_id }}]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="{{ piwik_host }}piwik.php?idsite={{ piwik_id }}" style="border:0;" alt=""/></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
