{% extends 'base.html.twig' %}

{% block bodyid %}main-page{% endblock %}

{% block skipcssclass %}disabled{% endblock %}

{% block infohomelink %}<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></li>{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="row1" class="row ">
            <div class="col-xs-12 bg-success">Lesezeichen</div>
        </div>
        <div id="row2" class="row">
            <div class="col-xs-3">
                <a href="{{ path('themenfeld', {'themeId': '1'}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg01.jpg' %}
                    <img src="{{ asset_url }}" alt="Themenfeld 1" />
                    {% endimage %}
                </a>
            </div>
            <div class="col-xs-3"><a href="{{ path('themenfeld', {'themeId': '2'}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg02.jpg' %}
                    <img src="{{ asset_url }}" alt="Themenfeld 2" />
                    {% endimage %}
                </a></div>
            <div class="col-xs-3"><a href="{{ path('themenfeld', {'themeId': '3'}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg03.jpg' %}
                    <img src="{{ asset_url }}" alt="Themenfeld 3" />
                    {% endimage %}
                </a></div>
            <div class="col-xs-3"><a href="{{ path('themenfeld', {'themeId': '4'}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg04.jpg' %}
                    <img src="{{ asset_url }}" alt="Themenfeld 4" />
                    {% endimage %}
                </a></div>
        </div>
        <div id="row3" class="row">
            <div class="col-xs-3"><a href="{{ path('themenfeld', {'themeId': '5'}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg05.jpg' %}
                    <img src="{{ asset_url }}" alt="Themenfeld 5" />
                    {% endimage %}
                </a></div>
            <div class="col-xs-3"><a href="{{ path('themenfeld', {'themeId': '6'}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg06.jpg' %}
                    <img src="{{ asset_url }}" alt="Themenfeld 6" />
                    {% endimage %}
                </a></div>
            <div class="col-xs-3"><a href="{{ path('themenfeld', {'themeId': '7'}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg07.jpg' %}
                    <img src="{{ asset_url }}" alt="Themenfeld 7" />
                    {% endimage %}
                </a></div>
            <div class="col-xs-3"><a href="{{ path('themenfeld', {'themeId': '8'}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg08.jpg' %}
                    <img src="{{ asset_url }}" alt="Themenfeld 8" />
                    {% endimage %}
                </a></div>
        </div>
        <div id="row4" class="row ">
            <div class="col-xs-12 bg-danger">[10]</div>
        </div>
    </div>
{% endblock %}
