{#
Copyright (C) 2015 Michael Giesler, Stephan Kreutzer

This file is part of Dembelo.

Dembelo is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Dembelo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License 3 for more details.

You should have received a copy of the GNU Affero General Public License 3
along with Dembelo. If not, see <http://www.gnu.org/licenses/>.
#}


{% extends 'base.html.twig' %}

{% block bodyid %}main-page{% endblock %}

{% block infohomelink %}<a href="#" class="btn btn-default" data-toggle="modal" data-target="#modalInfo"><span class="glyphicon glyphicon-info-sign"></span></a>{% endblock %}

{% block body %}
    <div id="mainpagecontainer" class="container-fluid">
        <div id="row1" class="row ">
            <div class="col-xs-12 bg-bookmark">{{ include('default/carousel.html.twig', {}) }}</div>
        </div>
        {% if topics[0] is defined or topics[1] is defined or topics[2] is defined or topics[3] is defined %}
        <div id="row2" class="row">
            <div class="col-xs-3">
                {% if topics[0].id is defined and topics[0].name is defined %}
                <a href="{{ path('themenfeld', {'topicId': topics[0].id}) }}">
                    {# Doesn't work, see https://github.com/kriswallsmith/assetic/issues/60 #}
                    {#% image '@DembeloMain/Resources/public/images/bg_' ~ topics[0].id ~ '.jpg' %#}
                    {% image '@DembeloMain/Resources/public/images/bg01.jpg' %}
                    <img src="{{ asset_url }}" alt="{{ topics[0].name }}" />
                    {% endimage %}
                </a>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if topics[1].id is defined and topics[1].name is defined %}
                <a href="{{ path('themenfeld', {'topicId': topics[1].id}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg02.jpg' %}
                    <img src="{{ asset_url }}" alt="{{ topics[1].name }}" />
                    {% endimage %}
                </a>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if topics[2].id is defined and topics[2].name is defined %}
                <a href="{{ path('themenfeld', {'topicId': topics[2].id}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg03.jpg' %}
                    <img src="{{ asset_url }}" alt="{{ topics[2].name }}" />
                    {% endimage %}
                </a>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if topics[3].id is defined and topics[3].name is defined %}
                <a href="{{ path('themenfeld', {'topicId': topics[3].id}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg04.jpg' %}
                    <img src="{{ asset_url }}" alt="{{ topics[3].name }}" />
                    {% endimage %}
                </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if topics[4] is defined or topics[5] is defined or topics[6] is defined or topics[7] is defined %}
        <div id="row3" class="row">
            <div class="col-xs-3">
                {% if topics[4].id is defined and topics[4].name is defined %}
                <a href="{{ path('themenfeld', {'topicId': topics[4].id}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg05.jpg' %}
                    <img src="{{ asset_url }}" alt="{{ topics[4].name }}" />
                    {% endimage %}
                </a>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if topics[5].id is defined and topics[5].name is defined %}
                <a href="{{ path('themenfeld', {'topicId': topics[5].id}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg06.jpg' %}
                    <img src="{{ asset_url }}" alt="{{ topics[5].name }}" />
                    {% endimage %}
                </a>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if topics[6].id is defined and topics[6].name is defined %}
                <a href="{{ path('themenfeld', {'topicId': topics[6].id}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg07.jpg' %}
                    <img src="{{ asset_url }}" alt="{{ topics[6].name }}" />
                    {% endimage %}
                </a>
                {% endif %}
            </div>
            <div class="col-xs-3">
                {% if topics[7].id is defined and topics[7].name is defined %}
                <a href="{{ path('themenfeld', {'topicId': topics[7].id}) }}">
                    {% image '@DembeloMain/Resources/public/images/bg08.jpg' %}
                    <img src="{{ asset_url }}" alt="{{ topics[7].name }}" />
                    {% endimage %}
                </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div id="row4" class="row ">
            <div class="col-xs-12">
            	<a href="https://github.com/typearea/dembelo" target="_blank">
                    {% image '@DembeloMain/Resources/public/images/werbegrafik.png' %}
                    <img src="{{ asset_url }}" />
                    {% endimage %}
                    <p class="ad-text">Entwickle mit! Besuche Dembelo auf Github.</p>
                </a>
             </div>
        </div>
    </div>

    {{ include('info.html.twig', {'dialogId': 'modalInfo'}) }}
{% endblock %}
