{#
Copyright (C) 2015-2017 Michael Giesler, Stephan Kreutzer, Daniel Hebestreit

This file is part of Dembelo.

Dembelo is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Dembelo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License 3 for more details.

You should have received a copy of the GNU Affero General Public License 3
along with Dembelo. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'DembeloMain::base.html.twig' %}

{% block bodyid %}dashboard{% endblock %}

{% block body %}
    <div class="genres">
        <div class="row">
            {% for topic in topics %}
                <div class="cover">
                    {% if topic.status == 1 %}
                        {%  if attribute(favorites, topic.id) %}
                            <a href="{{ path('text', {'textnodeArbitraryId': attribute(favorites, topic.id)}) }}">
                                {% image '@DembeloMain/Resources/public/images/favorite.png' %}
                                <img class="favorite" src="{{ asset_url }}"/>
                                {% endimage %}
                            </a>
                        {% endif %}
                        <a href="{{ path('themenfeld', {'topicId': topic.id}) }}">
                    {% endif %}
                        <img class="coverImg" src="/images/topics/{{ topic.id }}/{{ topic.originalImageName }}" alt="{{ topic.name }}" title="{{ topic.name }}"/>
                    {% if topic.status == 1 %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}