{% extends 'DembeloMain::base.html.twig' %}

{% block bodyid %}main-page{% endblock %}

{% block infohomelink %}
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modalInfo"><span class="glyphicon glyphicon-info-sign"></span></a>
{% endblock %}

{% block body %}
    <div id="mainpagecontainer" class="container-fluid">
        <div id="row1" class="row ">
            <div class="col-xs-12 bg-bookmark">{{ include('DembeloMain::default/carousel.html.twig', {}) }}</div>
        </div>

        <div id="row3" class="row">
            {% for licensee in topics %}
                <div class="licensee col-xs-3">
                    <a href="{{ path('themenfeld', {'topicId': licensee.id}) }}">
                        {% image '@DembeloMain/Resources/public/images/bg02.jpg' %}
                        <img src="{{ asset_url }}" alt="{{ licensee.name }}" title="{{ licensee.name }}"/>
                        {% endimage %}
                    </a>
                </div>
            {% endfor %}
        </div>
        <div id="row4" class="row ">
            <div class="col-xs-12">
                <a href="https://github.com/typearea/dembelo" target="_blank">
                    {% image '@DembeloMain/Resources/public/images/werbegrafik.png' %}
                    <img src="{{ asset_url }}"/>
                    {% endimage %}
                    <p class="ad-text">Entwickle mit! Besuche Dembelo auf Github.</p>
                </a>
            </div>
        </div>
    </div>
    {{ include('DembeloMain::info.html.twig', {'dialogId': 'modalInfo'}) }}
{% endblock %}