<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Dembelo{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap -->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

            {% stylesheets '@DembeloMain/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}

        {% endblock %}

        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

            {% javascripts '@DembeloMain/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block bodyid %}{% endblock %}">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li class="{% block skipcssclass %}disabled{% endblock %}"><a href="#"><span class="glyphicon glyphicon-repeat"></span></a></li>
                        {% block infohomelink %}<li><a href="{{ path('mainpage') }}"><span class="glyphicon glyphicon-home"></span></a></li>{% endblock %}
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('logout') }}">Ausloggen</a></li>
                                {% else %}
                                    <li><a href="{{ path('login_route') }}">Einloggen</a></li>
                                    <li><a href="{{ path('register') }}">Registrieren</a></li>
                                {% endif %}

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}

    </body>
</html>
